<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../shared/head.ejs %>
    <% include components/head.ejs %>

</head>
<body>
<% include ../shared/tail.ejs %>
<% include components/header.ejs %>


<% include components/tail.ejs %>

</body>
</html>
