<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../shared/head.ejs %>
    <% include components/head.ejs %>

</head>
<body style="background: #00001a">
<% include ../shared/tail.ejs %>
<% include components/header.ejs %>

<% include components/tail.ejs %>
<!--<% include components/footer.ejs %>-->

</body>
</html>
